<form action="/compile/submit" method="POST" enctype="multipart/form-data">
	{% csrf_token %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="/static/css/submitprob/style.css" >


{% if user.username %}


<div id="menu">
	<img src="/static/images/judge.jpg" id="img1">
    <div id="logout">
        <a href="{% url 'logout:log_out' %}"> <button class="button"><span>logout</span></button> </a>
    </div>

    <div id="hi">
        Hi <a href="/profile/{{user.username}}">{{user.username}} </a>
    </div>

    <div id="line"></div>

	</div>

	<div id="content">
		<h1>{{problem.problem_name}}</h1>
		<pre>{{value}}</pre>


		{% if messages %}
		<div class="span12">
		{% for message in messages %}
    		<div class="alert alert-{{ message.tags }}">
        		{{ message|safe }}
    		</div>
		{% endfor %}
		</div>
		{% endif %}

		<br>

<input name="prob_name" value="{{problem.problem_name}}" readonly hidden> </input><br>
<input name="user_name" value="{{user.username}}" readonly hidden> </input><br>
		<select name="language">
			<option value="c">C</option>
			<option value="cpp">C++</option>
			<option value="java">Java</option>
			<option value="python">Python</option>
		</select>
		<br />
		<input type="file" name="file">
		<textarea id="code" type="text" maxlength="100000000000" name="code" cols="10" rows="5000000" style="width:200px; height:50px;"></textarea>
		<br />
		<input id="submit" value="submit" type="submit" >

		<br><br>
	</div>
</form>

{% endif %}

{% if not user.username %}

<div id="menu">
	<img src="/static/images/judge.jpg" id="img1">
    <div id="signup">
        <a href="/signup"> <button class="button"><span>signup</span></button></a>
    </div>

    <div id="login">
        <a href="/login"><button class="button"><span>login</span></button></a>

    </div>

    <div id="line"></div>
	</div>

    <div id="content"><p>Please login to view questions </p></div>


{% endif %}
